<a href="https://colab.research.google.com/github/sidaksohi/astroscope/blob/main/SQLQuery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [21]:
import sqlite3

In [20]:
from datetime import date

# SQL Connection

In [5]:
conn = sqlite3.connect('celebrities.sqlite')
cursor = conn.cursor()

# Variables

In [6]:
mbit_distance = {
  0: (0,1,2,3,4,5,6,7,8,7,6,5,4,3,2,1),
  1: (1,0,1,2,3,4,5,6,7,8,7,6,5,4,3,2),
  2: (2,1,0,1,2,3,4,5,6,7,8,7,6,5,4,3),
  3: (3,2,1,0,1,2,3,4,5,6,7,8,7,6,5,4),
  4: (4,3,2,1,0,1,2,3,4,5,6,7,8,7,6,5),
  5: (5,4,3,2,1,0,1,2,3,4,5,6,7,8,7,6),
  6: (6,5,4,3,2,1,0,1,2,3,4,5,6,7,8,7),
  7: (7,6,5,4,3,2,1,0,1,2,3,4,5,6,7,8),
  8: (8,7,6,5,4,3,2,1,0,1,2,3,4,5,6,7),
  9: (7,8,7,6,5,4,3,2,1,0,1,2,3,4,5,6),
  10: (6,7,8,7,6,5,4,3,2,1,0,1,2,3,4,5),
  11: (5,6,7,8,7,6,5,4,3,2,1,0,1,2,3,4),
  12: (4,5,6,7,8,7,6,5,4,3,2,1,0,1,2,3),
  13: (3,4,5,6,7,8,7,6,5,4,3,2,1,0,1,2),
  14: (2,3,4,5,6,7,8,7,6,5,4,3,2,1,0,1),
  15: (1,2,3,4,5,6,7,8,7,6,5,4,3,2,1,0),
}

mbit_index = {
  'ESFJ': 0,
  'ISFJ': 1,
  'ESTJ': 2,
  'ISTJ': 3,
  'ESFP': 4,
  'ISFP': 5,
  'ESTP': 6,
  'ISTP': 7,
  'INFJ': 8,
  'ENFJ': 9,
  'INFP': 10,
  'ENFP': 11,
  'INTJ': 12,
  'ENTJ': 13,
  'INTP': 14,
  'ENTP': 15,
}

In [7]:
months = {
    'January': '01',
    'February': '02',
    'March': '03',
    'April': '04',
    'May': '05',
    'June': '06',
    'July': '07',
    'August': '08',
    'September': '09',
    'October': '10',
    'November': '11',
    'December': '12'
}

# Functions

In [22]:
def distance_mbit(start, end):
  #convert mbit to index using mbit_index
  _start_ = mbit_index.get(str(start))
  _end_ = mbit_index.get(str(end))

  #use index to find distance using mbit_distance
  distance = mbit_distance.get(_start_)[_end_]

  #print
  print(distance)

#distance_mbit('INTJ', 'ESFJ')

In [9]:
def find_all():
    cursor.execute("SELECT * FROM celebrities;")
    for row in cursor.fetchall():
      print(row)

In [10]:
  def find_mbit(mbit):
    string = "SELECT name, mbit FROM celebrities WHERE mbit =" + '"' + str(mbit) + '"' + ";"
    cursor.execute(string)
    for row in cursor.fetchall():
      print(row)

In [11]:
  def find_zodiac(zodiac):
    string = "SELECT name, zodiac FROM celebrities WHERE zodiac =" + '"' + str(zodiac) + '"' + ";"
    cursor.execute(string)
    for row in cursor.fetchall():
      print(row)

In [12]:
def find_mbit_zodiac(mbit, zodiac):
    query = "SELECT popularity, name, birthmonthday, birthyear, birthplace, zodiac, mbit FROM celebrities WHERE mbit = '" + str(mbit) + "' AND zodiac ='" + str(zodiac) + "';"
    cursor.execute(query)
    for row in cursor.fetchall():
      row = str(row)
      print(row)

In [121]:
def find_twin_soul(mbit, zodiac, birthmonthday):
    query = "SELECT popularity, name, birthmonthday, birthyear, id FROM celebrities WHERE mbit = '" + str(mbit) + "' AND zodiac ='" + str(zodiac) + "';"
    cursor.execute(query)

    #create results list
    results = []
    for row in cursor.fetchall():
      results.append(list(row))

    #make birthmonthday column alphabetizable, concat with birthyear
    for i, row in enumerate(results):
      data = row[2].split(' ')
      month = months.get(data[0])
      day = data[1]
      year = row[3]
      if len(day) < 2: day = '0'+ day
      string = month + ' ' + day + ' ' + year
      results[i][2] = string
      del row[3]
      
    #add an empty row with the user birthmonthday column only
    _birthmonthday_ = ['', '', str(birthmonthday), '']
    results.append(_birthmonthday_)
    
    #sort by birthmonthday column
    results.sort(key = lambda results: results[2])
    
    #get placeholder index, then delete placeholder. you now have the index of lowest popularity same day match    
    for i, row in enumerate(results):
      row[2] = row[2][:5]
      if row[0] == '':
        index = i
        break
    
    top5 = []
    sanity = 1

    while len(top5) <= 5:
      try:
        top5.append(results[index+sanity])
      except:
        top5.append(results[index-sanity])
      
      try:
        top5.append(results[index-sanity])
      except:
        top5.append(results[index+sanity])

      sanity += 1


    print('TOP 5')
    for i, row in enumerate(top5):
      print(row)

In [122]:
find_twin_soul('INTJ','Capricorn','01 07 0000')

TOP 5
['5', 'Stephen Hawking', '01 08 1942', '129']
['25', 'Craig Revel Horwood', '01 04', '63']
['8', 'Ryan Destiny', '01 08 1995', '131']
['8', 'Isaac Newton', '01 04', '57']
['46', 'Andrew Yang', '01 13 1975', '227']
['19', 'Alex Ramos', '01 02', '24']

# Main

In [126]:
#find_all()
#find_mbit_zodiac('ESFJ', 'Sagittarius')
#find_twin_soul('INTJ', 'Capricorn', 'December 7')

SyntaxError: ignored

# Parking Lot for Ideas

**Miscellaneous ideas and comments can go here.**
----------------------------------
* create spatial map of celebrities
* visualize map using a library (Folium,Seaborn, etc.)
*
*
*
*